<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/lockPositionAlarm.css">
</head>

<body>
  <!-- nav部分开始 -->
  <div class='nav clearfix'>
    <div class="nav-left fl"></div>
    <div class="nav-right fr">
      <div ></div>
    </div>
    <div class="nav-center">
      <div class="nav-center-title fl">Tianyi Tech RISK</div>
      <div class="nav-center-name fr">Franco Zhang
        <div class='admin hide'>
          <ul>
            <li>修改密码</li>
            <li class='languageToggle'>语言切换
              <ul class='language hide'>
                <li>中文</li>
                <li>英文</li>
              </ul>
            </li>
            <li>退出</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- nav部分结束 -->
  <!-- content部分开始 -->
  <div class="content clearfix">
    <div class="content-aside fl">
      <ul>
        <li><i></i><a href="/">Home</a></li>
        <li><i></i><a href="#">Position Keeper</a><b></b>
          <ul class='sub-nav hide'>
            <li><i></i> <a href="/netPositionSummary">Net Position Sunmmary</a></li>
          </ul>
        </li>
        <li><i></i><a href="#">Risk Monitor</a><b></b>
          <ul class='sub-nav hide'>
            <li><i></i> <a href="/priceAlarm">Price Alarm</a></li>
            <li><i></i> <a href="/monitor">DC Monitor</a></li>
            <li><i></i> <a href="/lockPositionAlarm">Lock position alarm</a></li>
            <li><i></i> <a href="/partialLockRisk">Partial Lock Risk alert</a></li>
          </ul>
        </li>
        <li><i></i><a href="/marginControl">Margin Control</a></li>
        <li><i></i><a href="/riskManagement">Risk  Management</a></li>
        <li><i></i><a href="/capitalStatement">Capital Statement</a><b></b></li>
        <li><i></i><a href="/transactionAnalysis">Transaction Analysis</a></li>
      </ul>
    </div>
    <div class="content-primary">
      <div class="content-primary-title">
        <b>Home</b>/Sumary
      </div>
      <!-- 表格部分 -->
      <div class="content-primary-table">
        <div class="table-title">
          Lock Position Alarm
        </div>
        <div class="table-content">
          <table>
            <thead>
              <th></th>
              <th>Today</th>
              <th>Current Week</th>
              <th>Current Month</th>
            </thead>
            <tbody>
              <tr>
                <td>FX Vloumn Lots</td>
                <td>150</td>
                <td>150</td>
                <td>150</td>
              </tr>
              <tr>
                <td>CFD Lots</td>
                <td>150</td>
                <td>150</td>
                <td>150</td>
              </tr>
              <tr>
                <td>Metals Lots</td>
                <td>150k</td>
                <td>150k</td>
                <td>150k</td>
              </tr>
              <tr>
                <td>U PNL</td>
                <td>150k</td>
                <td>150k</td>
                <td>150k</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- content部分结束 -->
  <script src='/javascripts/jquery-1.10.2.min.js'></script>
  <script src='/javascripts/common.js'></script>
</body>

</html>