.charts-left,.charts-right {
    margin-top:10px;
}
.charts-left #charts-left,
.charts-right #charts-right {
    width: 90%;
    height: 260px;
    margin-top:-40px;
}
#charts-left {
    margin-left:20px;
}
#charts-right {
    margin-right:30px;
}