.nav {
    width: 100%;
    height: 48px;
    background: white;
    line-height: 48px;
    color: #4e8bf8;
    border:1px soild #ced2d5;
}
.nav-left {
    margin-left:15px;
    margin-right:25px;
}
.nav-center {
    width: 100%;
    margin-right:100px;

}
.nav-right {
    margin-right:20px;
    margin-left:25px;
}
.content-aside {
    width: 230px;
    height: 500px;
    background: #2f353f;
    
}
.content-aside ul{
    margin-top:10px;
 
}
.content-aside li {
    height: 45px;
    border-left:2px solid transparent;
   
}
.content-aside li a {
    color:white;
    text-decoration: none;
}
.content-aside li i {
    margin-left:18px;
    margin-right:18px;
}
.content-aside li:hover {
    background: #3a81f8;
    border-left:2px solid white;
}
.content-primary{
    background: #f2f7fa;
    width: calc(100% - 230px);
    float:right;
    height: 500px;

}
.content-primary-title {
    height: 50px;
    color:#888888;
}
.content-primary-title b {
    font-weight: 100;
    margin-left:17px;
    color:#3a81f8;
}
.content-primary-table {
    width: calc(100%-230px);
    height: 372px;
    background: white;
    margin:0 17px;

}
.content-primary-table .table-title {
    margin-left:18px;
    color:black; 
}
.content-primary-table .table-content table {
    margin-left:18px;
    margin-right:18px;
}
.content-primary-table .table-content th {
    border:1px solid #ccc;
    height: 44px;   
    width: 268px;   
}
.content-primary-table .table-content td {
    height: 36px;
    line-height: 36px;
    border:1px solid #ccc;
}